<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>main</key>
		<string>#FFFFFF</string>
		<key>tabBarTintColor</key>
		<string>#FFFFFF</string>
		<key>tabTintColor</key>
		<string>#F55A5D</string>
		<key>navigationTintColor</key>
		<string>#000000</string>
		<key>navigationBarTintColor</key>
		<string>#FFFFFF</string>
		<key>loginBtnBackground</key>
		<string>#F5A9A9</string>
		<key>cellBackgroundColor</key>
		<string>#FFFFFF</string>
		<key>moreLoginBackgroundColor</key>
		<string>#00000060</string>
		<key>moreLoginTextColor</key>
		<string>#FFFFFF</string>
		<key>black</key>
		<string>#000000</string>
		<key>cellSeparatorColor</key>
		<string>#F0F0F0</string>
		<key>separatorColor</key>
		<string>#F0F0F0</string>
	</dict>
	<key>images</key>
	<dict>
		<key>minePhoneLogin</key>
		<string>cellphoneicon_login_profile_66x66_</string>
		<key>mineQQLogin</key>
		<string>qqicon_login_profile_66x66_</string>
		<key>mineWeichatLogin</key>
		<string>weixinicon_login_profile_66x66_</string>
		<key>mineSinaLogin</key>
		<string>sinaicon_login_profile_66x66_</string>
		<key>mineFavor</key>
		<string>favoriteicon_profile_24x24_</string>
		<key>mineHistory</key>
		<string>history_profile_24x24_</string>
		<key>mineTheme</key>
		<string>nighticon_profile_24x24_</string>
		<key>mineRightArrow</key>
		<string>setting_rightarrow_8x14_</string>
		<key>mineDownloadOption</key>
		<string>air_download_option_press_20x20_</string>
		<key>mineDownloadOptionPressed</key>
		<string>air_download_option_press_20x20_</string>
		<key>loginCloseIcon</key>
		<string>icon_popup_close_24x24_</string>
		<key>wechatLoginIcon</key>
		<string>weixin_sdk_login_40x40_</string>
		<key>qqLoginIcon</key>
		<string>qq_sdk_login_40x40_</string>
		<key>emailLoginIcon</key>
		<string>mailbox_sdk_login_40x40_</string>
		<key>tianyiLoginIcon</key>
		<string>tianyi_sdk_login_40x40_</string>
		<key>loginReadIcon</key>
		<string>details_choose_icon_15x15_</string>
		<key>loginReadSelectedIcon</key>
		<string>details_choose_ok_icon_15x15_</string>
	</dict>
</dict>
</plist>
