<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>清理缓存</string>
			<key>subtitle</key>
			<string></string>
			<key>rightText</key>
			<string>0.0M</string>
			<key>isShowArrow</key>
			<false/>
			<key>isShowSwicher</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>字体大小</string>
			<key>subtitle</key>
			<string></string>
			<key>rightText</key>
			<string>中</string>
			<key>isShowArrow</key>
			<false/>
			<key>isShowSwicher</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>列表摘要</string>
			<key>subtitle</key>
			<string></string>
			<key>rightText</key>
			<string></string>
			<key>isShowArrow</key>
			<false/>
			<key>isShowSwicher</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>非Wi-Fi网络图片</string>
			<key>subtitle</key>
			<string></string>
			<key>rightText</key>
			<string>最佳图片(下载大图)</string>
			<key>isShowArrow</key>
			<false/>
			<key>isShowSwicher</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>非Wi-Fi网络播放提醒</string>
			<key>subtitle</key>
			<string></string>
			<key>rightText</key>
			<string>提醒一次</string>
			<key>isShowArrow</key>
			<false/>
			<key>isShowSwicher</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>推送通知</string>
			<key>subtitle</key>
			<string></string>
			<key>rightText</key>
			<string>您可能会错过重要资讯通知，点击去设置允许通知</string>
			<key>isShowArrow</key>
			<false/>
			<key>isShowSwicher</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>离线下载</string>
			<key>subtitle</key>
			<string></string>
			<key>rightText</key>
			<string></string>
			<key>isShowArrow</key>
			<true/>
			<key>isShowSwicher</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>头条封面</string>
			<key>subtitle</key>
			<string></string>
			<key>rightText</key>
			<string></string>
			<key>isShowArrow</key>
			<true/>
			<key>isShowSwicher</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>当前版本</string>
			<key>subtitle</key>
			<string></string>
			<key>rightText</key>
			<string></string>
			<key>isShowArrow</key>
			<true/>
			<key>isShowSwicher</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
